div#auth
  div#auth-form
    h2= 'VIMP Tank Battle'
    div#auth-name
      span= 'Please name:'
      input#auth-name-input(type='text', name='name' maxlength='15', placeholder='Vanya')
    div#auth-team
      span= 'Please your team:'
      br
      label
        input(type='radio', name='team', value='0')
        = 'team1'
      br
      label
        input(type='radio', name='team', value='1')
        = 'team2'
      br
      label
        input(type='radio', name='team', value='2')
        = 'spectators'
    div#auth-error
    input#auth-enter(type='button', autofocus, value='Enter')

    div#auth-link
      p
        a(href='https://github.com/lgick/VIMP-Tank-Battle') GitHub
      p &copy; VIMP
