div#auth
  div#auth-form
    h2= 'VIMP Tank Battle'
    div
      span= 'Please name:'
      input#auth-name-input(type='text', name='name' maxlength='15', placeholder='Vanya')
    div#auth-team
      div
        span= 'Please your team:'
        br
        label
          input(type='radio', name='team', value='t1')
          = 'team1'
        br
        label
          input(type='radio', name='team', value='t2')
          = 'team2'
    div#auth-error
    input#auth-enter(type='button', autofocus, value='Enter')
