meta(charset='UTF-8')
title= title
link(rel='stylesheet', href= '/css/style.css')
script(
  data-main= '/js/app',
  src= '/js/vendor/requirejs-bower/require.js'
)
script.
  require.config({
    paths: {
      io:          'vendor/socket.io-client/dist/socket.io.min',
      preloadjs:   'vendor/createjs-preloadjs/lib/preloadjs-NEXT.min',
      createjs:    'vendor/easeljs/lib/easeljs-NEXT.min',

      Publisher:   'lib/publisher',
      Factory:     'lib/factory',

      AuthModel:   'model/auth',
      UserModel:   'model/user',
      GameModel:   'model/game',
      ChatModel:   'model/chat',
      PanelModel:  'model/panel',
      StatModel:   'model/stat',
      MenuModel:   'model/menu',

      AuthView:    'view/auth',
      UserView:    'view/user',
      GameView:    'view/game',
      ChatView:    'view/chat',
      PanelView:   'view/panel',
      StatView:    'view/stat',
      MenuView:    'view/menu',

      AuthCtrl:    'controller/auth',
      UserCtrl:    'controller/user',
      GameCtrl:    'controller/game',
      ChatCtrl:    'controller/chat',
      PanelCtrl:   'controller/panel',
      StatCtrl:    'controller/stat',
      MenuCtrl:    'controller/menu',

      MapParts:    'parts/map'
    },
    shim: {
      'createjs': {
        deps: ['preloadjs'],
        exports: 'createjs'
      }
    }
  });
