meta(charset='UTF-8')
title=title
link(rel='stylesheet', href='/css/style.css')
script(data-main='/js/app', src='/js/vendor/requirejs-bower/require.js')
script.
  require.config({
    paths: {
      preloadjs:   'vendor/createjs-preloadjs/lib/preloadjs-NEXT.min',
      createjs:    'vendor/easeljs/lib/easeljs-NEXT.min',

      Publisher:   '/publisher',
      Factory:     '/factory',

      AuthModel:   'model/auth',
      UserModel:   'model/user',
      GameModel:   'model/game',
      ChatModel:   'model/chat',
      PanelModel:  'model/panel',
      StatModel:   'model/stat',
      VoteModel:   'model/vote',

      AuthView:    'view/auth',
      UserView:    'view/user',
      GameView:    'view/game',
      ChatView:    'view/chat',
      PanelView:   'view/panel',
      StatView:    'view/stat',
      VoteView:    'view/vote',

      AuthCtrl:    'controller/auth',
      UserCtrl:    'controller/user',
      GameCtrl:    'controller/game',
      ChatCtrl:    'controller/chat',
      PanelCtrl:   'controller/panel',
      StatCtrl:    'controller/stat',
      VoteCtrl:    'controller/vote'
    },
    shim: {
      'createjs': {
        deps: ['preloadjs'],
        exports: 'createjs'
      }
    }
  });
