div#menu
  h2#menu-title Меню
  ol#menu-list
    li Сменить команду, статус
    li Предложить новую карту
    li Предложить забанить игрока

  div#menu-nav
    p#menu-next 8. Next
    p#menu-back 9. Back
    p#menu-exit 0. Exit
