div#stat
  div.stat-head
    span names
    span status
    span score
    span deaths
  div.stat-tables
    table#team1
      tr
        th team1 (3)
        th
        th 10
        th
      tr
        td bot 1
        td
        td 5
        td 1
      tr
        td bob 2
        td dead
        td 2
        td 3
      tr
        td lox
        td
        td 0
        td 4
    table#team2
      tr
        th team2 (4)
        th
        th 8
        th
      tr
        td apa
        td
        td 10
        td 3
      tr
        td coco
        td dead
        td 2
        td 0
      tr
        td george
        td
        td 1
        td 10
      tr
        td pit
        td
        td 1
        td 8
    table#spect
      tr
        th spectators
      tr
        td X-man
      tr
        td kaka
