div#stat
  div.stat-head
    span names
    span status
    span score
    span deaths

  div.stat-tables
    table#team1
      tHead
        tr
          td
          td
          td
          td
      tBody

    table#team2
      tHead
        tr
          td
          td
          td
          td
      tBody

    table#spectators
      tHead
        tr
          td
      tBody
